
<%= render 'brackets/home' %>
<%= render 'brackets/about' %>
<%= render 'brackets/portfolio' %>
<div id="test-anchor"></div>
<%= render 'brackets/contact' %>




<!-- <div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <div class="front-title-div">
      <p >Bryan Lund's<br>Portfolio</p>
      <a href="#section02"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
  </div>
</div>





<section id="section01" class="demo">
  <h1>Scroll Down Button #1</h1>
  <a href="#section02" class="btn btn-lg btn-secondary scroll"><span></span>Scroll</a>
</section>

    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">My page is better than yours</p>
    <p class="lead">
      <%= link_to "about me", about_me_path, class: "btn btn-lg btn-secondary btn-overflow" %>
    </p>



 -->